body { background-image: url('../img/Background_Pattern.png')}
h1, h2, h3, h4, div, p, input { font-family: "museo-slab"; color: #ccf2f8; }
h1, h2, h3, h4 { color: white;}

a { color: #ccf2f8;}

.container-white { background-color: white; }
.container-white { height: 145px; position: fixed; left: 0; bottom: 0px; width: 100%; } 
.push { height: 150px }

.title-block { display: inline-block; }
.title-block-full { margin-top: 10px; }
.title-block h1 { float:left; margin: 0; padding: 0; line-height: 115%;}
.title-block-full h1 { display: inline; line-height: 115%; }
.title-block h2 { float:left; margin: 0; padding: 0; font-size: 18px; font-weight: 700; }
.title-block-full h2 { display: inline; font-size: 18px; font-weight: 700;}
.title-block { margin-top: 10px; }

.brand { margin-right: 10px; border: 2px solid #181b1c;}

.bio { margin-top: 20px; margin-bottom: 20px; font-size: 30px; line-height: 135%; font-weight: 100;}

.social { text-align: right; }

.inline { display: inline; margin: 0; padding: 0;}

.project { line-height: 135%; }
.project h3 { margin: 10px 0 10px 0;}
.project a { text-decoration: none; color: white;}
.project .sub { margin: 10px 0 0 0; }
H3.sub { font-weight: 700; }

.things ul { display: inline-block;}
.things li { font-weight: normal; line-height: 155%; }

.contact-row { background-color: white;}
.contact-row h2 { color: #222;}
.contact-form { width: 100%; margin-bottom: 30px; }
.contact-form .underlined { border-bottom: 1px solid silver; }
.contact-form INPUT[type=text] { border: 0; width: 80%; color: #222; margin-top: 25px;}
.contact-form INPUT:focus { outline: none; }
.contact-form input[type=submit] {
  float: right;
  background : url("../img/paper-plane.png") no-repeat center center;
  height :52px;
  width: 42px;
  border : none;
  color : transparent;
}
.divider { background-image: url('../img/divider.png'); height: 3px; margin:20px 0 20px 0; }