---
layout: default

bio: "I'm a freelance software engineer from London, United Kingdom. I specialize in creating products for web and mobile."

skills: [ 
  ['HTML / CSS', 'Javascript / jQuery', 'SASS / LESS', 'Responsive', 'Analytics / SEO'],
  ['Ruby on Rails', 'Java / Android', 'C# / WPF / ASP.NET / ASP', 'LAMP / WAMP / PHP', 'TDD' ],
  ['MySQL / MS SQL', 'Shell Scripting', 'Browser Extensions', 'Raspberry Pi / Arduino', 'Windows / Linux']
]

---

<div class="content-black clearfix">

  <div class="row">
    <div class="col title">
      <img class="brand" src="http://0.gravatar.com/avatar/b5874ab143e4ae54d964a933116417a6" alt="Picture of Rich Hollis" />
      <div class="title-block">
        <h1>Rich Hollis</h1><br />
        <h2 class="normal">Freelance software guy, Hacker, <a href="http://codeclub.org.uk">Code Club volunteer</a>, <a href="http://stemnet.org.uk/content/ambassadors">STEM Ambassador</a> &amp; Dad</h2>
        <h2 class="largest">Freelance software guy, Hacker, <a href="http://codeclub.org.uk">Code Club volunteer</a>,<br/><a href="http://stemnet.org.uk/content/ambassadors">STEM Ambassador</a> &amp; Dad</h2>
      </div>
    </div>
    <div class="col social">
      {% if site.twitter-url %}<a href="{{ site.twitter-url }}"><img src="img/Twitter.png" alt="Twitter image link"></a>{% endif %}
      {% if site.linkedin-url %}<a href="{{ site.linkedin-url }}"><img src="img/LinkedIn.png" alt="Linked In image link"></a>{% endif %}
    </div>
  </div>

  <div class="row title-block-full-container">
      <div class="col full title-block-full">
        <h1>Rich Hollis</h1><br />
        <h2 class="normal">Freelance software guy, Hacker, <a href="http://codeclub.org.uk">Code Club volunteer</a>, <a href="http://stemnet.org.uk/content/ambassadors">STEM Ambassador</a> &amp; Dad</h2>
      </div>
  </div>

  <div class="row">
    <div class="col full bio">
      {{ page.bio }}
    </div>
  </div>

  <div class="row">
    <h2 class="col full inline">Personal Projects</h2>
  </div>

  <div class="row">
  {% for post in site.posts %}
    <div class="col project">
      <div class="project-container">
        <h3><a href="{{post.site-url}}">{{ post.url-title }}</a></h3>
        <a href="{{post.site-url}}"><img src="{{ post.image }}" alt="{{ post.title}} sample image" /></a>
        <h3 class="sub">{{ post.title }}</h3>
        <p class="sub">{{ post.desc }}</p>
      </div>
      <div class="smallest col project divider">&nbsp;</div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col full">
      <div class="projects divider">&nbsp;</div>
    </div>
  </div>

  <div class="row">
    <h2 class="col full inline">Things I Do</h2>
  </div>

  <div class="row">
    <div class="col things">
      <ul>
        {% for skill in page.skills[0] %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col things">
      <ul>
        {% for skill in page.skills[1] %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col things">
      <ul>
        {% for skill in page.skills[2] %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> <!-- content-black -->

<div class="push">&nbsp;</div>

<div class="clearfix container-white">
  <div class="content-white" style="background-color:white">
    <div class="row contact-row">
      <div class="col contact">
        <h2>Contact Me</h2>
        <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dHFCcHZvbmg2bHFMUnV6YXhidzFobXc6MQ&amp;embedded=true&amp;embedded=true&amp;ifq" method="POST" id="ss-form" class="contact-form">
          <div class="underlined clearfix">
            <input type="text" name="entry.0.single" value="" id="entry_0" placeholder="start typing...">
            <input type="submit" name="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>